


<section class="bg-main-light shadow p-2 my-2 rounded-4">
    <h1 class="h2 text-main">Register Now:</h1>





<form   [formGroup]="registerForm"  (ngSubmit)="registerSubmit()" > 



<div class="my-2">
    <label for="name" >Name</label>
    <input  id="name" type="text"  class="form-control " formControlName="name">

 @if (registerForm.get('name')?.errors && ( registerForm.get('name')?.touched || registerForm.get('name')?.dirty) ) {

    <div class=" w-50 alert alert-danger">
         @if (registerForm.get('name')?.getError('required')) {
            <p class="m-0">Name Is Required </p>
        }
       @else if (registerForm.get('name')?.getError('minlength')) {
        <p class="m-0">Name Should be more than or equal  3 chars</p>
       }
      @else if (registerForm.get('name')?.getError('maxlength')) {
        <p class="m-0">Name Should be less than or equal  20 chars</p>
      }
       
    </div>

 }


</div>

<div class="my-2">
    <label for="email" >Email</label>
    <input id="email" type="email"  class="form-control"  formControlName="email">


    @if (registerForm.get('email')?.errors && (registerForm.get('email')?.touched||registerForm.get('email')?.dirty)   ) {

        <div class=" w-50 alert alert-danger">
            @if (registerForm.get('email')?.getError('required')) {
                <p class="m-0">Enter Valid Email  </p>
            }
           @else if (registerForm.get('email')?.getError('email')) {
            <p class="m-0">Enter Valid Email</p>
           }
        
        </div>
    
     }
    
</div>
<div class="my-2">
    <label for="rePassword" >Phone</label>
    <input id="phone" type="tel"  class="form-control" formControlName="phone">


    @if (registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched||registerForm.get('phone')?.dirty)  ) {

        <div class=" w-50 alert alert-danger">
            @if (registerForm.get('phone')?.getError('required')) {
                <p class="m-0"> Phone is required </p>
            }
           @else if (registerForm.get('phone')?.getError('pattern')) {
            <p class="m-0"> accept only egypt phone numbers</p>
           }
        
        </div>
    
     }
</div>

<div class="my-2">
    <label for="password" >Password</label>
    <input id="password" type="password"  class="form-control" formControlName="password">

    @if (registerForm.get('password')?.errors &&registerForm.get('password')?.touched) {

        <div class=" w-50 alert alert-danger">
            @if (registerForm.get('password')?.getError('required')) {
                <p class="m-0"> Password required </p>
            }
           @else if (registerForm.get('password')?.getError('pattern')) {
            <p class="m-0">enter valid password </p>
           }
        
        </div>
    
     }
</div>



<div class="my-2">
    <label for="rePassword" >RePassword</label>
    <input id="rePassword" type="password"  class="form-control" formControlName="rePassword">
    
  @if ( registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched ) {
    <p class=" w-50 alert alert-danger m-0">Password confirmation is incorrect</p>

  }
</div>





  <button    [disabled]="registerForm.invalid ||isLoading"        type="submit" class="  d-block ms-auto btn-main">Register 
@if (isLoading) {
    <span><i class="fas fa-spin fa-spinner"></i></span>
}
  </button>


  @if (mesError) {
    <p class="alert alert-danger w-50  m-0 ">{{mesError}}</p>
  }

    @if (msgsuccess) {
        <p class="p-2">success</p>
    }
 
    </form>
</section> 






