



<section>
    <h1 class="text-center text-main my-3 fw-bold">Forget Password</h1>

    @if (step==1) {



        <form  [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3 " (ngSubmit)="verifyEmailSubmit()">
            <div class="my-2">
                <label for="email">Email:</label>
                <input  formControlName="email"   id="email" type="email" class="form-control">
            </div>
    
            <button  [disabled]="verifyEmail.invalid"  class="btn-main">Verify Email</button>
        </form>
    }
  @else if (step==2) {
    
    <form  [formGroup]=" verifyCode" class="bg-main-light rounded-4 shadow p-3  " (ngSubmit)="verifyCodeSubmit()">
        <div class="my-2">
            <label for="resetCode">resetCode:</label>
            <input formControlName="resetCode" id="resetCode" type="text" class="form-control">
        </div>

        <button   [disabled]="verifyCode.invalid " class="btn-main">Verify Code</button>
    </form>
  }
   
@else if (step==3) {

    <form  [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3 " (ngSubmit)="restPasswoerSubmit()">
        <div class="my-2">
            <label for="email">Email:</label>
            <input readonly formControlName="email" id="email" type="email" class="form-control">
        </div>



        <div class="my-2">
            <label for="newPassword">newPassword:</label>
            <input formControlName="newPassword" id="newPassword" type="Password" class="form-control">
        </div>

        <button   [disabled]="resetPassword.invalid " class="btn-main">New Password</button>
    </form>

}





</section>
